<?xml version="1.0"?>
<model>
  <name>ev3</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>EV3 Nav Lab</name>
  </author>
  <description>
    LEGO Education EV3 Robot Educator driving base: 56 mm wheels, 118 mm
    track, rear gyro, front ultrasonic, steel-ball caster.
  </description>
</model>
